<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="form" [formGroup]="validationsForm" (ngSubmit)="onSubmit(validationsForm.value)">

    <ion-item>
      <ion-label position="floating" color="primary">Nombre</ion-label>
      <ion-input [(ngModel)]="user.name" type="text" formControlName="nombre"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validationmessages.nombre">
        <div class="error-message"
             *ngIf="validationsForm.get('nombre').hasError(validation.type) && (validationsForm.get('nombre').dirty || validationsForm.get('nombre').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label position="floating" color="primary">Email</ion-label>
      <ion-input [(ngModel)]="user.email" type="email" formControlName="email"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validationmessages.email">
        <div class="error-message"
             *ngIf="validationsForm.get('email').hasError(validation.type) && (validationsForm.get('email').dirty || validationsForm.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label position="floating" color="primary">Password</ion-label>
      <ion-input [(ngModel)]="user.password" type="password" formControlName="password" class="form-controll" required></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validationmessages.password">
        <div class="error-message"
             *ngIf="validationsForm.get('password').hasError(validation.type) && (validationsForm.get('password').dirty || validationsForm.get('password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>


    <ion-button class="submit-btn" (click)="createUsr()" [disabled]="!validationsForm.valid">Register</ion-button>
    <label class="error-message">{{errorMessage}}</label>
    <label class="success-message">{{successMessage}}</label>
  </form>
  <p class="go-to-login">Ya estas registrado? <a (click)="goLoginPage()">Inicia Sesion.</a></p>
</ion-content>
